:root {
  --color-primary: #111111;
  --color-secondary: #ffffff;
  --color-accent: #e32636;
  --color-background: #ffffff;
  --color-text: #111111;
  --color-muted: #666666;
  --color-muted-text: #666666;
  --color-border: #e5e5e5;
}

body {
  font-family: var(--font-body);
  font-weight: var(--body-weight);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: var(--heading-weight);
}


p,
span,
label,
button,
input,
textarea,
select {
  font-family: var(--font-body);
  font-weight: var(--body-weight);
}